{% extends 'base.html' %}
{% block content %}
<!-- Form to edit or delete comment and submit or cancel -->

    <div>
        <div class="container-small">
          <h2>Edit and Save your comment below</h2>
          <form method="POST" id="add-comment-form">
            {{ form.csrf_token }}
            <div>
              {% if form.text.errors %}
                {% for error in form.text.errors %}
                  <span class="text-danger">
                {{ error }}
              </span>
                {% endfor %}
              {% endif %}
              {{ form.text(class="form-control form-group" ) }}
            </div>
            <button class="btn-comment-add">Save Edits!</button>
          </form>
        </div>
      </div>

    <div>
        <form method="POST" action="/{{recipe_id}}/{{comment_data.id}}/delete_comments">
            <button class="btn-delete">Delete Comment</button>
        </form>
    </div>
    
</div>

{% endblock %}