{% extends 'base.html' %}
{% block content %}
<!-- Recipe image -->
<!-- Recipe ingredients -->
<!-- Recipe instructions -->
<!-- logged in vs non logged in view -->
<!-- add / remove from favorites -->
<!-- view comments -->
<!-- add comment -->
<!-- edit / remove comment -->


{%for r in res2%}
<ul>
    <li>
        <h2>Recipe Name: {{res3['title']}}</h2>

        <img src="{{res3['image']}}" alt="">
        
        <h2>Ingredients</h2>
            {%for i in res3.extendedIngredients%}
                <ul>
                   <li>{{i.original}}</li>
                </ul>
            {%endfor%}


        <h2>Instructions</h2>
            {%for s in res2%}
                {%for ss in s['steps']%}
                <ul>
                    <li>{{ss.step}}</li>
                </ul>
                {%endfor%}
            {%endfor%}
    </li>
</ul>
{%endfor%}
{% endblock %}