{% extends 'base.html' %}
{% block content %}
<!-- Recipe image -->
<!-- Recipe ingredients -->
<!-- Recipe instructions -->
<!-- logged in vs non logged in view -->
<!-- add / remove from favorites -->
<!-- view comments -->
<!-- add comment -->
<!-- edit / remove comment -->

<div>
{%for r in res2%}
<ul>
    <li>
        <h2>Recipe Name: {{res3['title']}}</h2>

        <img src="{{res3['image']}}" alt="">
        
        <h2>Ingredients</h2>
            {%for i in res3.extendedIngredients%}
                <ul>
                   <li>{{i.original}}</li>
                </ul>
            {%endfor%}


        <h2>Instructions</h2>
            {%for s in res2%}
                {%for ss in s['steps']%}
                <ul>
                    <li>{{ss.step}}</li>
                </ul>
                {%endfor%}
            {%endfor%}
    </li>
</ul>
</div>

<div>

    <!-- Favorites -->
    
    
    <form method="POST" action="" class="fav_recipies">
        <button class="
        btn 
        btn-sm
        {{'btn-primary' if res3['id'] in user_favs else 'btn-secondary'}}"
    </button>
    <i class="fa fa-thumbs-up"></i> 
</form>
</div>


<div>
<!-- Comments -->
    <h4>User Comments</h4>
    <a href="/{{res3['id']}}/add_comments">Add comment</a>
</div>

<div>
    <ul>
        {%for r in rec_comment_list%}
            <li>{{r.user.username}}: {{r.comment_text}}
                    {%if r.user_id == g.user.id%}
                      <a href="/{{r.recipe_id}}/{{r.id}}/edit_comments">Edit Comment</a>
                    {%endif%}
            </li>
        {%endfor%}
    </ul>
</div>



{%endfor%}
{% endblock %}