{% extends 'base.html' %}
{% block content %}
<!-- Welcome user -->
<!-- List of API recipes -->

<h1>Welcome to the homepage</h1>


<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h2 class="join-message">What's for dinner????</h2>

      <form id="user_form">
        {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
                {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                {{ field(placeholder=field.label.text, class="form-control") }}
            {% endfor %}

            <button class="btn btn-primary btn-block btn-lg">Search</button>
        </form>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
        <h2 class="join-message">Search Results</h2>
            <ul id = "search-results"></ul>
        <!-- {%for r in res%}
            <ul>
                <li>
                    <a href="/details/{{r['id']}}"></a>{{r['title']}}</a>
                    <img src="{{r['image']}}" alt="{{r['title']}}">
                </li>
            <ul>
        {%endfor%} -->
    </div>
</div>

{% endblock %}