{% extends 'base.html' %}
{% block content %}
<div class="py-3">
    <div class="container-small">
      <h2 class="l-heading">Enter your Username and Password below</h2>

      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control form-group") }}
        {% endfor %}

        <button class="btn-login">Log in</button>
      </form>
    </div>
    <div class="container-small">
        <a class='btn-register' href="/register">Click here to register</a>
    </div>
  </div>


{% endblock %}