{% extends 'base.html' %}
{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-4">
      <h2 class="join-message">Edit Your Profile.</h2>
      <form method="POST" id="userEdit_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
        {% endfor %}
        {{ form.email(value=user.email, class="form-control") }}
        {{ form.username(value=user.username, class="form-control") }}

        <p>To confirm changes, enter your password:</p>
        {% if form.password.errors %}
          {% for error in form.password.errors %}
            <span class="text-danger">
            {{ error }}
          </span>
          {% endfor %}
        {% endif %}
        {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}

        <div class="edit-btn-area">
          <button class="btn btn-success">Edit this user!</button>
          <a href="/profile" class="btn btn-outline-secondary">Cancel</a>
        </div>
      </form>
    </div>
  </div>

<div>
    <form method="POST" action="/delete_profile">
        <button class="btn btn-outline-danger">Delete Account</button>
    </form>
</div>


{% endblock %}